################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyGitBlazorApp/bin/Debug/net8.0
/MyGitBlazorApp/.vs/MyGitBlazorApp
/MyGitBlazorApp/.vs/ProjectEvaluation
